@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #121212;
    --color: #ffffff;
    --gray-color: #757575;
}

* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SCROLLBAR STYLE ***************************************** */
::-webkit-scrollbar {
    width: 0.15rem;

}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 0.2rem;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    overflow-x: hidden;
}


/* LOGO ******************************************** */
.logo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: var(--background-color);
    /* backdrop-filter: blur(8px); */
}

#Layer_1 {
    width: 50%;
    overflow: visible;
    transition: all 0.6s;
}

#protatva {
    transform: translateX(0%);
}

#circle {
    transform-origin: center;
}
/* LOGO ******************************************** */

/* MAIN ******************************************** */
#main {
    width: 100%;
    position: relative;
}

#main .section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.section_one {
    position: relative;
    width: 100%;
}

.main_title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main_title span:nth-child(1) {
    position: absolute;
    font-size: 16vw;
    top: -5%;
    left: 0;
}

.main_title span:nth-child(2) {
    position: absolute;
    font-size: 16vw;
    bottom: -5%;
    right: 0;
}

.main_para {
    position: absolute;
    width: 100%;
    height: 35%;
    top: 50%;
    left: 0.8%;
    display: flex;
}

.main_para span {
    /* display: block;
    float: left; */
    text-align: center;
    width: 10vw;
    font-size: 1.9vw;
}

.tested {
    position: absolute;
    width: 31.5%;
    height: 13%;
    top: 50%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.tested img {
    width: 7vw;
    height: 7vw;
    object-fit: contain;
}

.main_image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    transition: all 1s;
}

.main_image img {
    width: 75%;
    /* width: 70%; */
}

.section_two {
    /* padding: 5vw 0; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.one {
    width: 78%;
    object-fit: cover;
    position: absolute;
    right: -22%;
    top: 25%;
    z-index: 30;
    rotate: 20deg;
}

.one img {
    width: 80%;
}

.two {
    width: 82%;
    object-fit: cover;
    position: absolute;
    /* top: 8%; */
    left: 11%;
    /* transition: 0.8s; */
    z-index: 30;
}

.two img {
    width: 90%;
}

.section_three {
    position: relative;
    /* border:1px solid red; */
}

.pure,
.nutrition,
.for,
.muscle,
.growth {
    font-size: 14vw;
    font-weight: 800;
    letter-spacing: 10px;
    position: absolute;
}

.pure {
    top: -6%;
    left: 0;
}

.nutrition {
    top: 19%;
    right: 0;
}

.for {
    top: 44%;
    left: 0;
}

.muscle {
    top: 44%;
    right: 0;
}

.growth {
    top: 69%;
    left: 0;
}


/* MAIN ******************************************** */
